@model IEnumerable<BusinessLayer.Models.Reports.SummaryReport>

@{
    ViewBag.Title = "Summary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Summary Report</h2>




<p>
    @Html.ActionLink("Home", "Index", "Home")
</p>


@using (@Html.BeginForm())
{
    @Html.DropDownList("CD", null, "-CDs-")
    @Html.DropDownList("HeadEngineer", null, "-HeadEngineer-")
    @Html.DropDownList("DesignEngineer", null, "-DesignEngineer-")
    @Html.DropDownList("Month", null, "-Month-")
    @Html.DropDownList("Year", null, "-Year-")
    @Html.DropDownList("ColumnName", null, "-Date Focus-")

    <input id="submitBtn" type="submit" value="search" />
}

@{

    bool display = Model.Count() > 0;

}


@if (display)
{

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().JobName)

                </th>


                <th>
                    @Html.DisplayFor(model => model.First().column1, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column2, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column3, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column4, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column5, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column6, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column7, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column8, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column9, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column10, "HeaderCellSummaryReport")
                </th>
                <th>
                    @Html.DisplayFor(model => model.First().column11, "HeaderCellSummaryReport")
                </th>


                
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.JobName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.column0, "CellSummaryReport")
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.column0, "CellSummaryReport")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.column1, "CellSummaryReport")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.column2, "CellSummaryReport")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.column3, "CellSummaryReport")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.column4, "CellSummaryReport")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.column5, "CellSummaryReport")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.column6, "CellSummaryReport")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.column7, "CellSummaryReport")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.column8, "CellSummaryReport")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.column9, "CellSummaryReport")
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.column10, "CellSummaryReport")
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.column11, "CellSummaryReport")
                    </td>

                    
                </tr>

            }
        </table>


    </div>

}

<script type="text/javascript">



</script>
