@model IEnumerable<BusinessLayer.Models.Role>


<div class="table-responsive">
    <table class="table table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" id="@item.RoleType" name="@item.RoleType" value="@item.RoleType" checked="@item.IsMember" class="rolesCheckBox" />
                    @item.RoleType

                </td>

            </tr>

        }

    </table>
</div>