@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BusinessLayer.Models.Place>

@{
    ViewBag.Title = "Create New Project";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var District = ViewBag.District;
    
}

<div class="container">
    @using (@Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Location", new { @for = "txtSearch" });
                    @Html.TextBox("searchTerm", null, new { id = "txtSearch", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Filter District", new { @for = "Districts" });
                    @Html.DropDownList("Districts", null, "-select a district-", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    @Html.Label("", new { @for = "submitBtn" });
                    <input id="submitBtn" type="submit" class="btn btn-md btn-primary" value="search" />
                </div>
            </div>
        </div>

    }
</div>

<div class="container">

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().PlaceLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().FiveDigit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().DistrictId)
                </th>
                <th>
                </th>
            </tr>
@foreach (var item in Model)
{
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiveDigit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictId)
            </td>
            <td>
               @using (Html.BeginForm("CreateItem", "Project", new { id = item.Id }))
               {
                <input type="submit" value="Create" class="btn btn-sm btn-warning" onclick="return confirm(''Create new project with = @item.PlaceLocation');" />
               }
            </td>
        </tr>

}
            
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Create", new
            {
                page,
                searchTerm = ViewBag.searchTerm,
                Districts = ViewBag.District
            }))
     </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("GetPlacesSearch")',
            minLength: 1
        });
    });

    $(document).ready(function () {
        $('#txtSearch').keypress(function (e) {
            if (e.keyCode == 13)
                $('#submitBtn').click();
        });
    });


    $(document).ready(function () {
        $('.createProject').click(function () {
            $(this).closest('form')[0].submit();
        });
    });

</script>