@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BusinessLayer.Models.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var searchDateObj = ViewBag.searchDateObj;
    var searchDate = ViewBag.searchDate;
    var District = ViewBag.District;
    var JobType = ViewBag.JobType;
    var Field = ViewBag.Field;
    
}
<h2>Search Projects</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-md btn-success" })
</p>


<input type="button" onclick="makeHide()" value="button"/>
<div class="container">
    @using (@Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Search", new { @for = "txtSearch"})
                    @Html.TextBox("searchTerm", null, new {  id = "txtSearch", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Filter District", new { @for = "Districts" })
                    @Html.DropDownList("Districts", null, "-select a district-", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.Label("Filter Job Types", new { @for = "JobTypes" })
                    @Html.DropDownList("JobTypes", null, "-select a Job Type-", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    
                    @Html.DropDownList("Fields", null, "", new { @class = "form-control" })
                   @Html.DisplayFor(model => searchDateObj, "DatePicker")
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    @Html.Label("", new { @for = "submitBtn" })
                    <input id="submitBtn" type="submit" class="btn btn-md btn-success" value="search" />
                </div>
            </div>
        </div>

            

    }
</div>


    <div class="table-responsive">
        <table id="tblList" class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CurrRemark)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ProjNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().JobType.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().HeadEngineerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().DesignEngineerId)
                </th>
                <th class="toggleStartDate">
                    @Html.DisplayNameFor(model => model.First().StartDate)
                </th>
                <th class="toggleDateCreated">
                    @Html.DisplayNameFor(model => model.First().DateCreated)
                </th>
                <th class="toggleDateUpdated">
                    @Html.DisplayNameFor(model => model.First().DateUpdated)
                </th>

                <th></th>
            </tr>


            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrRemark)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjNo)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.JobType.JobCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HeadEngineer.Initials)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DesignEngineer.Initials)
                    </td>
                    <td class="toggleStartDate">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td class="toggleDateCreated">
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td class="toggleDateUpdated">
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                    </td>
                </tr>

            }
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Table", new
            {
                page,
                searchTerm =ViewBag.searchTerm,
                Districts = ViewBag.District,
                JobTypes = ViewBag.JobType,
                Fields = ViewBag.Field,
                searchDate = ViewBag.searchDateString
                
            }))

    </div>

    <script type="text/javascript">

        function setColumnHideShow(fieldColumn)
        {
            $('.toggleStartDate').hide();
            $('.toggleDateCreated').hide();
            $('.toggleDateUpdated').hide();
            var toggleCol = '.toggle' + fieldColumn;
            $(toggleCol).show();
        }

        $(document).ready(function () {

            $('#txtSearch').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#submitBtn').click();
            });

            var toggleCol = '.toggle' + $('#Field').val();
            setColumnHideShow(toggleCol)
        });


        $('#Field').on('change', function () {
            var toggleCol = '.toggle' + $('#Field').val();
            setColumnHideShow(toggleCol)
        });


        $(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var valid = true;
                try {
                    $.datepicker.parseDate('mm/dd/yy', value);
                }
                catch (err) {
                    valid = false;
                }
                return valid;
            });
            $(".datetype").datepicker({ dateFormat: 'mm/dd/yy' });
        });

        $(function () {
            $("#txtSearch").autocomplete({
                source: '@Url.Action("GetProjectsSearch")',
                minLength: 1
            });
        });

        $(function () {
            $('.dp').datepicker();;
        });

    </script>
