@using SDTracker.Common;

@if (Request.IsAuthenticated)
{
    <a href="~/User/Logout" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User Profile<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        
        <li>@Html.ActionLink("Edit Profile", "EditProfile", "User")</li>
        <li>@Html.ActionLink("Change Password", "ChangePassword", "User")</li>
        <li>@Html.ActionLink("Logout", "Logout", "User")</li>

        @if (SDTRoleProvider.UserIsInRole(ViewContext, "Admin"))
        {
        <li>@Html.ActionLink("Admin", "EditProfile", "User")</li>
        }
        @if (SDTRoleProvider.UserIsInRole(ViewContext, "Guest,Admin"))
        {
            <li>@Html.ActionLink("Guest,Admin", "EditProfile", "Guest,Admin")</li>
        }
        @if (SDTRoleProvider.UserIsInRole(ViewContext, "Guest"))
        {
            <li>@Html.ActionLink("Guest", "EditProfile", "User")</li>
        }

    </ul>
    
    
}
